.services-page {
  height: 100%;
  background-color: #f8f8f8;
  /* overflow-x: hidden; */
  position: relative;
  background-image: url("../../images/pexels-elina-krima-3377405-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-page__wrapper {
  position: relative;
  padding: 20px 0 20px 0;
  /* width: 80%; */

  /* height: 100vh;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #f8f8f8; */
  /* background-image: url("../../images/imac-1999636_1920.png"); */
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.services-page__wrapper > h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
.services__wrapper {
  margin-top: 20px;
  /* background-color: red; */
  width: 65%;
  /* height: 300px; */
  display: flex;
  justify-content: space-between;
}
.services__wrapper2 {
  margin-top: 0;
}
.service {
  padding-top: 15px;
  min-width: 220px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 15px 10px;
  /* background-color: gray; */
  border: 1px solid rgb(228, 228, 228);
  backdrop-filter: blur(5px);
}
.service-line {
  height: 3px;
  background-color: rgb(255, 94, 0, 0.5);
  width: 80px;
}

.service > h2 {
  font-size: 22px;
  margin: 15px 0;
  text-align: center;
}
.service > p {
  padding: 10px;
  text-align: center;
  line-height: 25px;
  text-shadow: 1px 1px 6px rgb(163, 163, 163);

}
@media (max-width: 1024px) {
  .services__wrapper {
    width: 90%;
  }
}
@media (max-width: 850px) {
  .services__wrapper {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .services__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service {
    max-width: 100%;
  }
}

@media (max-width: 375px) {
  .services-page__wrapper > h2 {
    font-size: 22px;
  }
}
