.home-page {
  min-height: 100vh;
  position: relative;
  background-color: #ffffff;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  /* background-image: url("../../images/pexels-elina-krima-3377405-3.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bottom-line {
  z-index: 98;
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: rgb(89,210,254, 0.5);
  width: 100vw;
  transition: opacity 200ms linear;
}
.bottom-line2 {
  opacity: 0;
  transition: opacity 500ms linear;
}
.landing-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(252, 252, 252); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.logoHolder {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  position: absolute;
  top: 150px;
  height: 250px;
  width: 250px;
  background-color: red;
}
@media (max-width: 1070px) {
  .description-div {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 30%;
    align-items: center;
    margin: 4px;
  }}

  @media (max-width: 768px){
    .logoHolder {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: center;
      position: absolute;
      top: 150px;
      height: 200px;
      width: 200px;
      background-color: red;
    }
  }