.home-page {
  min-height: 100vh;
  position: relative;
  background-color: #ffffff;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  /* background-image: url("../../images/pexels-elina-krima-3377405-3.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bottom-line {
  z-index: 98;
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: rgb(89, 210, 254, 0.5);
  width: 100vw;
  transition: opacity 200ms linear;
}
.bottom-line2 {
  opacity: 0;
  transition: opacity 500ms linear;
}
.landing-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.logoHolder {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;

  height: 250px;
  width: 250px;
}
.nameHolder {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-top: 30px;
  width: 350px;
  
}
.home-page_p{
  margin-top: 50px;
  font-size: 17px;
  text-align: center;
}

@media (max-width: 768px) {
  .logoHolder {
    height: 200px;
    width: 200px;
  }
  .nameHolder {
    margin-top: 30px;

    width: 350px;
  }
}

@media (max-width: 560px) {
  .logoHolder {
    height: 180px;
    width: 180px;
  }
  .nameHolder {
    margin-top: 20px;

    width: 300px;
  }
}

@media (max-width: 400px) {
  .logoHolder {
    height: 120px;
    width: 120px;
  }
  .nameHolder {
    margin-top: 20px;

    width: 200px;
  }
}
