* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
/* .logo__container {
  width: 100%;
  object-fit: contain;
} */
img {
  width: 100%;
}
.hamburger-button {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  /* display: none; */
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
  z-index: 99999999999;
  color: black;
}
.hamburger-button .bar {
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background: #071b29;
}
/* -------------------Navbar START-------------------------------------------------- */
.sidebar {
  z-index: 999999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sidebar > header {
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(194, 102, 102);
  height: 60px;
}
ul {
  position: relative;
  display: flex;
  /* top: 180px; */
  list-style: none;
  text-decoration: none;
  /* padding: 40px 25px 0 0; */
  text-align: center;
}
.link {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  padding: 20px 15px;
  color: #1a163b;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "Manrope", sans-serif;
  font-weight: 200;
}
.link:hover {
  text-decoration: underline;
}
/* .active {
  text-decoration: underline;
} */

#check {
  display: none;
}
label #btn,
label #cancel {
  display: none;
  position: absolute;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

/* -------------------Navbar END-------------------------------------------------- */

@media (max-width: 768px) {
  .sidebar {
    left: -182px;
    opacity: 0.85;
    z-index: 999;
    width: 180px;
    height: 100vh;
    background-color: #ffffff;
    transition: all 0.5s ease;
  }
  ul {
    position: relative;
    display: flex;
    flex-direction: column;
    /* top: 180px; */
    list-style: none;
    text-decoration: none;
    padding: 40px 0;
    text-align: center;
  }
  .close-bar {
    position: fixed;
    width: 25px;
    height: 25px;
    /* background-color: blue; */
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
  }

  .close-bar:before,
  .close-bar:after {
    content: "";
    position: absolute;

    z-index: -1;
    background-color: #2f2c5b;
    border-radius: 2px;
  }

  .close-bar:before {
    left: 53%;

    width: 2px;
    margin-left: -15%;
    height: 90%;
  }

  .close-bar:after {
    top: 53%;
    height: 2px;
    margin-top: -15%;
    width: 90%;
  }

  label #btn,
  label #cancel {
    display: block;
    position: absolute;
    cursor: pointer;
  }
  label #btn {
    left: 15px;
    top: 15px;
    font-size: 40px;
    width: 80px;
    color: red;
    border-radius: px;
    z-index: 999;
    /* transition: all 0.5s ease; */
  }
  .bar-holder {
    width: 35px;
    height: 25px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .bar-holder > div {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: black;
  }
  label #cancel {
    z-index: 1111;
    left: -150px;
    top: 15px;
    color: green;
    font-size: 20px;
    /* font-weight: lighter; */
    transition: all 0.8s ease;
  }

  #check:checked ~ .sidebar {
    left: 0;
  }
  #check:checked ~ label #btn {
    left: 170px;
    display: none;
    pointer-events: none;
  }
  #check:checked ~ label #cancel {
    left: 140px;
  }
}
@media (max-width: 450px) {
  .logo__container {
    align-self: center;
    width: 90%;
    object-fit: contain;
  }
  img {
    width: 100%;
  }
  ul {
    padding: 15px 20px 0 0;
  }
  .link {
    padding: 20px 0;
  }
}
