@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Karla&family=Libre+Franklin:wght@200&family=Manrope:wght@300;400&family=Nunito:wght@300&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-family: "IBM Plex Sans", sans-serif; */
  /* font-family: "Karla", sans-serif; */
  /* font-family: "Libre Franklin", sans-serif; */
  font-family: "Manrope", sans-serif;
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
}
::-webkit-scrollbar {
  display: none;
}
/* style for social media tags on all pages */
.social-media__wrapper {
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: flex;
  justify-content: space-between;
  width: 60px;
}
.fab {
  font-size: 25px;
}

.next-page__right {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.next-page__left {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.fas {
  font-size: 50px;
  opacity: 0.1;
  color: black;
}
@media (max-width: 768px) {
  .fas {
    font-size: 25px;
  }
}
